
.message.error {
    color: red;
    background-color: #edd4d4;
    border-color: #e6c3c3;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.message.success {
    background: #e3fcec;
    color: #1f9d55;
    border-color: #51d88a;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.error-message {
    color: red;
    background-color: #edd4d4;
    border-color: #e6c3c3;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.input.text.required.error {
    color: red;
    background-color: #edd4d4;
    border-color: #e6c3c3;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
}

.error {
    background: #fcebea;
    color: #cc1f1a;
    border-color: #ef5753;
}

.hidden-element {
    display: none;
}
